{
  "enableAppOverrides": true,
  "includeNeovim": false,
  "includeVencord": false,
  "includeVscode": false,
  "includeZed": false,
  "includedApps": {
    "icons": true
  },
  "selectedNeovimConfig": "",
  "wallpaperFolder": "{{ .chezmoi.homeDir }}/Wallpapers"
}
